.input:focus {
    outline: none;
    border: 1px solid #019E37;
}

.superInput {
    margin: 10px;
    background-color: white;
    color: #000000;
}

.errorInput {
    margin: 10px;
    border: 1px solid red;
    background: cornsilk;
}

.error {
    color: red;
    font-weight: bold;
    height: 21px;
    margin-left: 10px;
}